*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 1rem;
}

.container {
	width: 100%;
	height: 100%;
	user-select: none;
	background-color: #28272c;
}

.app-main {
	display: flex;
	padding: 1rem;
	max-width: 960px;
	margin: 0 auto;
}

.app-section {
	flex-grow: 1;
}

.app-section-header {
	display: flex;
	color: #f2f2f2;
	line-height: 3rem;
	align-items: center;
}

.app-section-header > * {
	margin-right: 1rem;
}

.app-section-title {
	font-size: 1.5rem;
}

.app-section-icon {
	display: flex;
	width: 1.5rem;
	flex-shrink: 0;
	height: 1.5rem;
	font-size: 1rem;
	align-items: center;
	justify-content: center;
}
.app-section-icon.button {
	cursor: pointer;
	transition: 0.1s ease;
	border-radius: 0.125rem;
}
.app-section-icon.button:hover {
	background-color: #323136;
}

/* input */
.app-section-input {
	width: 100%;
	display: flex;
	margin-top: 1rem;
	align-items: center;
}

.app-section-input > * {
	margin-right: 0.5rem;
}

.app-section-fields {
	display: flex;
	cursor: text;
	flex-grow: 1;
	padding: 0.5rem;
	color: #7f7f85;
	align-items: center;
	border-radius: 0.25rem;
	background-color: #323136;
}

.app-section-input > * {
	margin-right: 0.5rem;
}

.app-section-fields > .app-section-icon {
	font-size: 1.25rem;
}

.app-section-fields > input {
	width: 100%;
	border: none;
	outline: none;
	font-size: 1rem;
	appearance: none;
	color: #f2f2f2;
	line-height: 1.5rem;
	caret-color: #f2f2f2;
	background-color: transparent;
}

.app-section-fields > input::placeholder {
	color: #7f7f85;
}

.app-section-button {
	border: none;
	outline: none;
	display: flex;
	cursor: pointer;
	color: #f2f2f2;
	appearance: none;
	font-size: 0.875rem;
	line-height: 1.5rem;
	align-items: center;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	justify-content: center;
	text-transform: uppercase;
	background-color: #6e7bf2;
}

/* content */
.app-section-content {
	display: flex;
	margin-top: 1rem;
	flex-direction: column;
}

.app-todos {
	display: flex;
	list-style: none;
	flex-direction: column;
}

.app-todos-todo {
	display: flex;
	align-items: center;
	transition: 0.2s ease;
	border-radius: 0.25rem;
}

.app-todos-todo:hover,
.app-todos-todo:focus {
	background-color: #323136;
}

.app-todos-todo label > * {
	margin-right: 0.5rem;
}

.app-todos-todo label {
	width: 100%;
	display: flex;
	padding: 0.5rem;
	color: #f2f2f2;
	line-height: 2rem;
	align-items: center;
}

.app-todos-todo label > input {
	display: none;
}

.app-todos-todo label > input:checked + .app-todos-todo-checkbox {
	border-color: #7f7f85;
	background-color: #7f7f85;
}

.app-todos-todo label > input:checked + .app-todos-todo-checkbox + .app-todos-todo-text {
	color: #7f7f85;
	text-decoration: line-through;
}

.app-todos-todo label > input:checked + .app-todos-todo-checkbox::before {
	display: flex;
	align-items: center;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='ionicon' width='16' height='16' color='%2328272c' viewBox='0 0 512 512'%3E%3Ctitle%3ECheckmark%3C/title%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='square' stroke-miterlimit='10' stroke-width='44' d='M416 128L192 384l-96-96'/%3E%3C/svg%3E");
}

.app-todos-todo label > .app-todos-todo-checkbox {
	width: 1rem;
	height: 1rem;
	display: flex;
	flex-shrink: 0;
	align-items: center;
	margin-left: 0.25rem;
	border-radius: 0.25rem;
	justify-content: center;
	border: 1px solid #7f7f85;
	transition: background-color 0.1s ease;
}

.app-todos-todo-text {
	flex-grow: 1;
	font-size: 1rem;
	transition: 0.2s ease;
}

.app-section-icon.button.button-delete {
	color: #6e7bf2;
	font-size: 1.25rem;
	margin-right: 0.5rem;
}

.app-todos-empty {
	display: flex;
	margin-top: 1rem;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.app-todos-empty > .app-todos-empty-title {
	display: flex;
	color: #f2f2f2;
	font-size: 1.5rem;
	line-height: 2rem;
}
.app-todos-empty > .app-todos-empty-subtitle {
	display: flex;
	font-size: 1rem;
	color: #7f7f85;
	line-height: 1.5rem;
}
