<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>vue-todolist</title>
		<script src="./js/main.js" defer></script>
		<link rel="stylesheet" href="./css/main.css" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet" />
	</head>
	<body>
		<div id="root" class="container">
			<main class="app-main">
				<div class="app-section">
					<section class="app-section-header">
						<span class="app-section-icon" style="font-size: 32px"><ion-icon name="file-tray-outline"></ion-icon></span>
						<h1 class="app-section-title">Inbox</h1>
						<span class="app-section-icon button"><ion-icon name="ellipsis-horizontal"></ion-icon></span>
					</section>
					<section class="app-section-input" @click="addFocus">
						<div class="app-section-fields">
							<span class="app-section-icon"><ion-icon name="add"></ion-icon></span>
							<input type="text" name="input-add" id="input-add" placeholder="Add Task" v-model="inputValue" ref="inputField" @keyup.enter="addTodo" />
						</div>
						<button class="app-section-button" @click="addTodo">Aggiungi</button>
					</section>
					<section class="app-section-content">
						<ul class="app-todos">
							<li v-for="(todo, index) in todos" class="app-todos-todo">
								<label :for="todo.id">
									<input type="checkbox" :checked="todo.completed" :id="todo.id" />
									<div class="app-todos-todo-checkbox"></div>
									<span class="app-todos-todo-text">{{todo.text}}</span>
								</label>
								<span class="app-section-icon button button-delete" @click="removeTodo(index)"><ion-icon name="close-outline"></ion-icon></span>
							</li>
							<li class="app-todos-empty" v-show="emptyState">
								<div class="app-todos-empty-title">You're all done for today!</div>
								<div class="app-todos-empty-subtitle">Enjoy your night!</div>
							</li>
						</ul>
					</section>
				</div>
			</main>
		</div>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	</body>
</html>
